@import '../../styles/variables.css';
.appointmentCard {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    padding: 12px;
    border-radius: 20px;
    /* margin-bottom: 8px; */
    background-color: var(--card-color);

  }
  
  .appointment-details h5 {
    font-size: 17px;
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 8px;
  }
  
  .appointment-details p {
    font-size: 13px;
    color: var(--text-color);
  }