@import '../../styles//variables.css';
.header {
  /* position: fixed; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    z-index: 100;
  }
  
  
  .searchBar {
    position: relative;
    width: 50%;
  }
  
  .searchBar input {
    width: 100%;
    padding: 8px 12px 8px 32px;
    border: 1px solid var(--light-gray);
    border-radius: 6px;
    font-size: 14px;
  }
  
  .searchIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
  }
  
  .userControls {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .icon {
    font-size: 18px;
    color: var(--primary-color);
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .userProfile {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 20%;
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
  }
  
  .addButton {
    width: 32px;
    height: 32px;
    border-radius: 20%;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }